Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-pro-type-member-init,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-container-size-empty,
  readability-redundant-*,
  readability-make-member-function-const,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  -misc-const-correctness,
  -misc-use-anonymous-namespace,
  -performance-no-int-to-ptr,
  -modernize-avoid-c-arrays,
  -bugprone-casting-through-void,
  -modernize-use-trailing-return-type,
  -modernize-use-designated-initializers,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions
HeaderFilterRegex: 'cpp/(include|bindings)/.*'
WarningsAsErrors: ''
